/* Dashboard */

.dashboard .hero {
    padding-top:4%;
    padding-bottom:4%;
}

.dashboard .hero h1{
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.dashboard nav{
}

.dashboard nav a{
}
